.login .box{

    position: relative;

}

.container-login{

    position: relative;

    width:400px;

    min-height: 400px;

    background:rgb(255,255,255,0.1);

    border-radius: 10px;

    display: flex;

    justify-content: center;

    align-items: center;

    backdrop-filter: blur(5px);

    box-shadow: 0 25px 45px rgb(0,0,0,0.1);

    border: 1px solid rgb(255,255,255,0.5);

    border-right: 1px solid rgb(255,255,255,0.2);

    border-bottom: 1px solid rgb(255,255,255,0.2);

}

.form{

    position: relative;

    height: 100%;

    width: 100%;

    padding: 15px 0;

}

.form h2{

    position: relative;

    color: #fff;

    font-size: 24px;

    font-weight: 600;

    letter-spacing: 1px;

    margin-bottom: 40px;

}

/* .form h2::before{

    content: '';

    position: absolute;

    left: 0;

    bottom: -10px;

    width: 80px;

    height: 4px;

    background: #fff;

} */

.form .inputBox{
    width: 100%;
    margin-top: 20px;

}



.form .inputBox input{
    width: 90%;
    background: rgb(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgb(255,255,255,0.5);
    border-right: 1px solid rgb(255,255,255,0.2);
    border-bottom: 1px solid rgb(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgb(0,0,0,0.05);

}

.form .inputBox input:hover{

    background: rgba(117, 23, 23, 0.3);

}


.form .inputBox input::placeholder{

    color: #fff;

}

.form .inputBox input[type="submit"]{
    background: #fff;
    color: #4d4343;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    


}

.form .inputBox input[type="submit"] :hover{
    background-color: aqua;
    color:red;
}









