<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星云小窝🔥星云笔记</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="/icon/font/css/open-iconic-bootstrap.css">
    <link rel="stylesheet" href="/css/biji.css" type="text/css"/>
    <link rel="icon" href="/images/xingshixiaowo.ico">

    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/css/style.css"></script>
    <style>
 #myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   border: none;
   outline: none;
   background-color: rgb(131, 187, 121);
   color: rgb(253, 251, 251);
   cursor: pointer;
   padding: 15px;
   border-radius: 10px;
 }

 #myBtn:hover {
   background-color: #555;
 }
 </style>
    <script>
 // 当网页向下滑动 500px 出现"返回顶部" 按钮
 window.onscroll = function() {scrollFunction()};

 function scrollFunction() {console.log(121);
     if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
         document.getElementById("myBtn").style.display = "block";
     } else {
         document.getElementById("myBtn").style.display = "none";
     }
 }

 // 点击按钮，返回顶部
 function topFunction() {
    //  document.body.scrollTop = 0;
    //  document.documentElement.scrollTop = 0;
    $('html, body').animate({scrollTop: 0}, 600);
        return false;
 }
 </script>




</head>
<body>
{% include '/home/xuanfukuang.html' %}
<!--顶部logo和slogan区域-->
<div class="header">
    <div class="container" style="height: 80px">
        <div class="row">
            <div class="col-5" style="text-align: left;align-content: center;background:#e7edf6;border-radius:20px;"><a
                    href="/home/{{userid}}" style="font-size:20px;"><img src="/chat_room/images/{{avatar}}" style="width: 75px;border-radius: 50%">&nbsp;{{nickname}}</a>
            </div>
            <div class="col-7 d-none d-sm-block" style="text-align:right ;padding-top: 15px;">
                <h2>星云小窝🔥星云笔记</h2>
            </div>
            <div class="col-7 d-sm-none " style="text-align:right ;padding-top: 15px">
                <h2>星云笔记</h2>
            </div>

        </div>
    </div>
</div>
<!--设置一个导航栏-->
<div class="menu">
    <div class="container" style="padding: 0">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #231557;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/notebook"><h2 style="color: blueviolet;font-weight: bold;">
                    星云笔记首页</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav menu-bar">
                        {% for k,v in article_type.items() %}
                        <li class="nav-item">
                            <a class="nav-link" href="/notebook/type/{{k}}--1">{{v}}</a>
                        </li>
                        {% endfor %}
                    </ul>


                    <ul class="navbar-nav menu-bar ms-auto" id="loginmenu">

                        {# 注释掉模板页面的下述代码
                        {% if session.get('islogin')=='true'%}
                        <li class="nav-item">
                            <a class="nav-link" href="/ucenter">欢迎您:{{session.get('nickname')}}</a>
                            &nbsp;&nbsp;&nbsp;
                        </li>
                        {% if session.get('role')=='admin'%}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">系统管理</a>&nbsp;&nbsp;&nbsp;
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/ucenter">用户中心</a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="logout nav-link" onclick="confirmLogout()">退出登录</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showLogin()">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showReg()">注册</a>
                        </li>
                        {% endif %}
                        #}


                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>


<!--内容区域-->
<div class="container">
    <div class="row">
        <!--填充中部左侧文章列表和文章阅读页面内容-->
        {% block content%}
        {% endblock %}
    </div>
</div>

<div>
 <button onclick="topFunction()" id="myBtn" title="回顶部">🚀</button>
</div>

<!--底部-->
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-4 left">
                <p>版权所有 &copy; 星云小窝</p>
                <p>备案号：<a href="#" target="_blank">蜀ICP备15014130号-1</a></p>
            </div>
            <div class="col-4 center">
                <p>友情提示</p>
                <p>本站所有资源均来源于互联网，若有侵权，请联系站长删除</p>
            </div>
            <div class="col-4 right">
                <p>更多关于</p>
                <a href="https://github.com/19857460379">&nbsp;&nbsp;&nbsp;<img src="/img/logo_github.png"
                                                                                style="width:30px;height:30px">
                </a>
                <a href="https://gitee.com/wht050106">&nbsp;&nbsp;&nbsp;<img src="/img/gitee.png"
                                                                             style="width:30px;height:30px">
                </a>
            </div>
        </div>
    </div>
</div>


<!-- 登录和注册模态框 -->
<!-- data-bs-backdrop="index-static" 表示用户必须要手工关闭模态框才能操作其他页面 -->
<div class="modal fade" id="mymodal" data-bs-backdrop="static" tabindex="-1"
     role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- 在模态框内部配置Tab选项卡，用于切换登录和注册窗口 -->
            <div class="tabbable" id="tabs" style="background-color: #337AB7 ;text-align: right">
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <!--                    <span aria-hidden="true" style="color: #0dcaf0">×</span><span class="sr-only"></span>-->
                </button>
                <!-- 与登录和注册窗口的ID进行关联 -->
                <ul class="nav nav-tabs" role="tablist">
                    <li id="login" class="nav-item active">
                        <a href="#loginpanel" data-bs-toggle="tab" class="nav-link" style="color: midnightblue">登录</a>
                    </li>
                    <li id="reg" class="nav-item">
                        <a href="#regpanel" data-bs-toggle="tab" class="nav-link" style="color: midnightblue">注册</a>
                    </li>
                    <li id="find" class="nav-item">
                        <a href="#findpanel" data-bs-toggle="tab" class="nav-link"
                           style="color: midnightblue">找回密码</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <!-- 绘制登录窗口 -->
                <div class="tab-pane container active" id="loginpanel">
                    <div class="modal-content" style="margin: 20px 0px;">
                        <div class="modal-body">
                            <div class="form-group row" style="margin-top: 20px;">
                                <label for="loginname" class="col-4"> 登录邮箱：</label>
                                <input type="text" id="loginname" class="form-control col-7"
                                       placeholder="请输入你的邮箱地址"/>
                            </div>
                            <div class="form-group row">
                                <label for="loginpass" class="col-4"> 登录密码：</label>
                                <input type="password" id="loginpass" class="form-control col-7"
                                       placeholder="请输入你的登录密码"/>
                            </div>
                            <div class="form-group row">
                                <label for="logincode" class="col-4"> 图片验证码：</label>
                                <input type="text" id="logincode" class="form-control col-5"
                                       placeholder="请输入验证码" onkeyup="doLogin(event)"/>
                                <img src="/vcode" id="loginvcode" class="col-3" style="cursor:pointer;"
                                     onclick="this.src='/vcode?'+Math.random()"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="doLogin(null)">登录</button>
                        </div>
                    </div>
                </div>

                <!-- 绘制注册窗口 -->
                <div class="tab-pane container" id="regpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="regname" class="col-4"> 注册邮箱：</label>
                                    <input type="text" id="regname" class="form-control col-7"
                                           placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regpass" class="col-4"> 注册密码：</label>
                                    <input type="password" id="regpass" class="form-control col-7"
                                           placeholder="请输入你的注册密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="regcode" class="col-4"> 邮箱验证码：</label>
                                    <input type="text" id="regcode" class="form-control col-4"
                                           placeholder="请输入邮箱验证码" onkeyup="doReg(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="doSendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>注册时请使用邮箱地址，便于找回密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReg(null)">注册</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 绘制找回密码窗口 -->
                <div class="tab-pane container" id="findpanel">
                    <div class="modal-content">
                        <div class="modal-content" style="margin: 20px 0px;">
                            <div class="modal-body">
                                <div class="form-group row" style="margin-top: 20px;">
                                    <label for="username" class="col-4">注册邮箱：</label>
                                    <input type="text" id="username" class="form-control col-7"
                                           placeholder="请输入你的邮箱地址"/>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4">新的密码：</label>
                                    <input type="text" id="newpass" class="form-control col-7"
                                           placeholder="请输入新的登录密码"/>
                                </div>
                                <div class="form-group row">
                                    <label for="findcode" class="col-4">邮箱验证码：</label>
                                    <input type="text" id="findcode" class="form-control col-4"
                                           placeholder="请输入邮箱验证码" onkeyup="doReset(event)"/>
                                    <button type="button" class="btn btn-primary col-3" onclick="SendMail(this)">
                                        发送邮件
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span>请输入注册邮箱地址并重置密码。&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="doReset(null)">重置密码</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>
